.tela-personagem{
    width: 100%;
    height: 100vh;
    background-color: rgb(224, 140, 84);
}
.time-selecionado{
    width: 30%;
    padding: 3% 0;
    background-color: rgba(224, 140, 84,.6);
}
.parte-superior-personagem{
    display: flex;
    width: 100%;
}
.personagem-selecionaveis{
    display: flex;
    flex-wrap: wrap;
    border: .5px solid #b8b8b8;
    border-radius: 12px;
    padding: 1% 2%;
}
.container{
    width: 92%;
    margin: auto;
    height: 100%;
    display:flex;
    flex-direction: column;
}